<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header" />
<div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <p th:text="${el.views}"/>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
            <button type="submit" class="btn btn-warning">Удалить</button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"/>
</body>
</html>